.App {
    text-align: center;
}
  
.form {
    max-width: 25rem;
    margin: auto;
    padding: 1rem;
    background-color: whitesmoke;
}

.ninja-button {
    background-color:rgb(252, 156, 217);
    color: rgb(218, 218, 218);
    display: block;
    width: 100%;
    border: 3px solid rgb(54, 51, 124);
    padding: 10px;
    font-size: 1.3rem;
    transition: 0.2s;
}
    
.ninja-button:hover {
    background-color: rgb(218, 218, 218);
    color: rgb(54, 51, 124);
    border: 5px solid rgb(252, 156, 217);
}

.ninja-banner {
    background-color: rgb(252, 156, 217);
    text-align: center;
    border-top: 3px solid rgb(218, 218, 218);
}