.App {
    text-align: center;
  }
  
.ninja-button {
  background-color: rgb(204, 102, 0);
  color: white;
  display: block;
  width: 100%;
  border: 3px solid green;
  padding: 10px;
  font-size: 1.3rem;
  transition: 0.5s;
}
  
.ninja-button:hover {
  background-color: white;
  color: green;
  border: 3px solid rgb(204, 102, 0);
}

body {
  background-color: white;
}
  
.form {
  max-width: 25rem;
  margin: auto;
  padding: 1rem;
  background-color: whitesmoke;
}
  